{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  
<br>
<h1 style="color: #0d6efd; text-align: center; font-weight: bold; font-family: Tahoma">Account Registration</h1>
<br>

<div class="registration" style="text-align:center">

    <div class="card border-dark" style="margin:auto; width:50%; padding:10px">
        <form method="POST">  
            {% csrf_token %}
            <h1 style="text-align:center">Registration Form</h1><br> 
            <table>  
                {{ form.as_table }}
            </table>
            <br>
            <button type="submit" class="btn btn-primary mx-auto" style="width:15%;">Submit</button>
        </form>
    </div>

    {% if messages %}
        <br>
        <ul style="margin:auto; width:30%">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}  

    <br>
    <div class="card text-center mx-auto" style="width:30%;">
        <div class="card-body">
            <h5 class="card-title">Already have an account?<br>
                <div class="card-text">
                    <a href="{% url 'todolist:user_login' %}">Login to your account</a>
                </div>
            </h5>
        </div>
    </div>
    <br>

</div>  

{% endblock content %}