{% extends 'base.html' %}

{% block meta %}
<title>To-Do List</title>
{% endblock meta %}

{% block content %}
<h1 style="color: darkblue; text-align: center; font-weight: bold; font-family: Tahoma">To-Do List</h1>

<div class = "todolist">

    <h1 style="text-align: center">Hi, {{ username }}! Here's your to-do list:</h1><br>

    <table style="width: 100%">
        <tr>
            <th style="text-align: center; column-width:120px">Title</th>
            <th style="text-align: center; column-width:120px">Description</th>
            <th style="text-align: center; column-width:120px">Date</th>
            <th style="text-align: center; column-width:120px">Status</th>
            <th style="text-align: center; column-width:120px">Change Status</th>
            <th style="text-align: center; column-width:120px">Delete Task</th>
        </tr>
    </table>
    <br>
    {% for task in todolist %}
    <div class="card" data-toggle="popover" title="{{ task.title }}" data-content="Created at {{ task.date|date:"j F Y" }}">
        <div class="card-body bg-light">
            <table style="width: 100%">
                <tr>
                    <td style="text-align:center; column-width:120px">{{ task.title }}</td>
                    <td style="text-align:center; column-width:120px">{{ task.description }}</td>
                    <td style="text-align:center; column-width:120px">{{ task.date|date:"j F Y" }}</td>
                    {% if task.is_finished %}
                        <td style="text-align:center; column-width:120px">Finished</td>
                    {% else %}
                        <td style="text-align:center; column-width:120px">Not Finished</td>
                    {% endif %}
                    <td style="text-align:center; column-width:120px">
                        <form method="POST" action="{% url 'todolist:change_status' %}">
                            {% csrf_token %}
                            <input type="number" name="pk" value="{{ task.pk }}" hidden>
                            <input type="submit" value="Change">
                        </form>
                    </td>
                    <td style="text-align:center; column-width:120px">
                        <form method="POST" action="{% url 'todolist:delete_task' %}">
                            {% csrf_token %}
                            <input type="number" name="pk" value="{{ task.pk }}" hidden>
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <tr>
    </tr>
    {% endfor %}

    <br>
    <form action="{% url 'todolist:create_task' %}">
        {% csrf_token %}
        <input type="submit" value="Add task">
    </form>
    <br>
    <form action="{% url 'todolist:user_logout' %}">
        <input type="submit" value="Logout">      
    </form>

    {% if messages %}
        <br>
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    
    <br>
    Don't have an account yet? <a href="{% url 'todolist:register_account' %}">Create Account</a>

</div>

{% endblock content %}